[2011-03-30 08:17] leighton opened #1 "Feature request"
Can you expose the parseString interface of the sax parser?

[2011-04-09 06:50] clee opened #2 "feature request: binary plist support"
It would be really handy.

[2011-04-23 09:04] adammw opened #3 "Ampersand encoded characters trigger truncated output"
This is probably a saxParser issue, but i'm not sure who (if anyone) is supporting that. Essentially, if you have a plist with a string such as "The item you&#39;ve requested is not available", the parser truncates the output to just "The item you".

[2011-06-03 15:07] #1 closed, assigned to nobody

[2011-06-03 21:23] #3 closed, assigned to nobody

[2011-06-03 21:28] TooTallNate opened #5 "Invoke 'callback' with an Error, instead of `console.log`"
So, essentially everywhere that has `console.log` calls should be points of failure in the parsing process. Everywhere that there's a `console.log` it should be replaced with logic that:
- Stops the Parser's parsing process cleanly (calls `.close()`?)
- Creates a new `Error` object with a good error message (probably what's already in the console.logs is good enough)
- Invokes the `callback`, with

[2011-11-06 00:24] benvanik opened #7 "Support 'real' type"
Right now 'real' is not supported, causing any tags with <real> to be ignored.

[2011-11-06 18:57] #7 closed, assigned to nobody

[2012-01-30 20:15] pimetrai opened #10 "Feature request : plist builder"
The plist parser is fantastic, but the reverse would be even better, i.e. convert a given JSON object into a plist.

I would be happy to develop it and create a pull request but I just wanted to double check it wasn't in the works somewhere.

[2012-08-28 09:56] wamatt opened #12 "Plist write"
Anyone know if this module or any other fork supports writing to a Plist? Binary plist in particular. I wan't to update some properties in a `~/Library/Preferences` plist file.

[2012-09-26 07:41] mreinstein opened #13 "clarification on design, etc"
@TooTallNate  A few assumptions/questions:
- browser side usage is undocumented. I'm curious, was this a feature you added for your own projects relying on this, or is it intended to be a public feature that just didnt get documented due to time constraints etc?
- It seems binary plist support may only be possible for the node environment, given dependence on binary support that browser side js is

[2012-09-26 17:23] #13 closed, assigned to TooTallNate

[2012-09-26 17:54] #10 closed, assigned to nobody

[2012-09-27 08:18] mreinstein opened #14 "calling build() on a plist containing an array incorrectly creates keys"
example Array:

[code]

expected result:

[code]

actual result:

[code]

[2012-09-27 23:02] #14 closed, assigned to mreinstein

[2012-09-27 23:35] #12 closed, assigned to nobody

[2012-09-28 00:08] mreinstein opened #15 "multiple plist blocks shouldnt be supported to conform to the plist 1.0 DTD"
currently, parsing a plist file puts each plist block into an array. Thus, most people using this library have their code littered with

[code]

Instead, maybe the javascript object should identically match the structure of the plist it's created from.

[2012-09-28 01:13] mreinstein opened #16 "upgrade sax library"
We're currently using 0.1.5 but sax is up to 0.4.2 now. In the interests of fighting software rot let's use the new stuff.

[2012-09-29 04:45] #16 closed, assigned to mreinstein

[2012-09-29 04:45] #5 closed, assigned to mreinstein

[2012-09-29 17:56] mreinstein opened #17 "base64 decoding/encoding is broken for <data> elements"
I think we never properly handled <data> elements. Here are some resources on base64 encode/decode in browser contexts:

http://stackoverflow.com/questions/246801/how-can-you-encode-to-base64-using-javascript/247261#247261

https://developer.mozilla.org/en-US/docs/DOM/window.btoa

https://developer.mozilla.org/en-US/docs/DOM/window.atob

and of course, there should be unit tests for this...

[2012-09-29 19:41] mreinstein opened #18 "library does not work on ie < 10"
Currently the library assumes that window.btoa and window.atob are present, and throws an exception if missing. This can be fixed by shimming those 2 functions, or by embedding base64 handling functions in the lib, like these:

http://stackoverflow.com/questions/246801/how-can-you-encode-to-base64-using-javascript/247261#247261

However I don't know if anyone is actually using this library in a br

[2012-09-29 19:42] #17 closed, assigned to nobody

[2012-09-29 20:57] mreinstein opened #19 "DTD plist validation"
should validate the plist string/file against DTD definition if one is specified.

[2012-09-29 21:43] #15 closed, assigned to nobody

[2012-10-01 18:22] wamatt opened #20 "Example looks wierd"
Missing a bracket?

[code]

[2012-10-01 18:30] #20 closed, assigned to nobody

[2012-10-23 00:12] mreinstein opened #21 "base64 detection"
@pimetrai can you please elaborate on your base64 detection logic? I'm refering to this code block:

[code]

I'm assuming that `<string>` elements can only be 125 characters or less? Also, shouldn't this be an OR condition rather than an AND? I'd assume if either of these conditions passed we'd want to encode as data.

[2012-11-16 02:27] #21 closed, assigned to nobody

[2012-12-13 01:16] mgcrea opened #23 "base64 regex wrongly converts string to data"
Here is an MDM payload. UDID & IMEI strings will get converted to data & the device enrollment will fail.

[code]

[2013-02-19 23:22] #23 closed, assigned to nobody

[2013-05-27 15:50] coolaj86 opened #34 "Doesn't handle large plist files (iTunes Libraries) very well"
My exported iTunes Library.xml is 97 MiB. 'nuff said.

I've been waiting a few minutes on my MBP and it's still not parsed.

I'm thinking to create a streaming version of this and create a pull request.

[2013-10-08 18:33] drunkhacker opened #39 "empty string value conversion"
`console.log(plist.build({a:""}))` should generate

[code]

but for now, new line and indents are injected for pretty print..

[code]

[2013-11-03 05:58] ghost opened #40 "XML Entities aren't being properly escaped in build()"
With the given plist:

[code]

...the output of `var obj = plist.parseStringSync(...)` is...

[code]

...but converting `obj` back into a plist string with `plist.build(obj)` produces...

[code]

... which is obviously incorrect.

A quick hack that I'm using to get around this is to modify line 293 of plist.js from

[code]

... to ...

[code]

... which doesn't cover all the bases and is certainly

[2014-02-23 02:30] klefevre opened #43 "Uncaught ReferenceError: xmlbuilder is not defined"
Hi, I just want notice you that I can't use node-plist in my node-webkit application.
I get the following error :
Uncaught ReferenceError: xmlbuilder is not defined at line 298.

Dependence was installed correctly (I suppose) and I tried to fix it quickly by editing the last require line but with no success. Hope you'll can do something.
Regards

[2014-04-30 01:43] TooTallNate opened #45 "re-do browser support via browserify"
It would be sweet to re-do the browser support in this module and have an official browser compilation file in a `dist` dir. The current stuff is super hacky and fragile. Plus with browserify we get things like base64 encoding for free in the browser, which is a big win.

At that point, we could rename this project to _plist.js_ :beers:

[2014-05-02 07:13] #45 closed, assigned to nobody

[2014-05-02 19:50] #43 closed, assigned to nobody

[2014-05-02 19:51] #40 closed, assigned to nobody

[2014-05-02 21:56] #18 closed, assigned to nobody

[2014-05-03 22:38] RangerMauve opened #48 "Old version of xmlbuilder relies on make"
Hey, I was trying to set up the tools for the Ace editor, but it wouldn't let me install the needed packages because of some problem in the xmlbuilder package. After [bugging](https://github.com/oozcitak/xmlbuilder-js/issues/42) them about it, apparently the issue lies in plist using an older version of xmlbuilder which relies on make. Would it be possible to use a more recent version of XML build

[2014-05-11 01:34] #48 closed, assigned to nobody

[2014-05-11 03:17] #34 closed, assigned to nobody

[2014-05-11 03:24] #39 closed, assigned to nobody

[2014-05-11 03:28] TooTallNate opened #49 "browser: use native `DOMParser` and `XMLSerializer`"
It would be great to have the browser builds use the native [`DOMParser`](https://developer.mozilla.org/en-US/docs/Web/API/DOMParser) and [`XMLSerializer`](https://developer.mozilla.org/en-US/docs/XMLSerializer) APIs. This would make the final file size drastically smaller, which would be appreciated after updating the `xmlbuilder` dependency [which seemed to bloat the "build" filesize](https://gi

[2014-05-11 16:41] #19 closed, assigned to nobody

[2014-06-25 17:54] jonathanwiesel opened #50 "parseFileSync deprecated"
I'm parsing a plist file and get the warning.

[2014-06-25 17:55] #50 closed, assigned to nobody

[2014-11-07 05:18] flyingsky opened #52 "Throw error for emoji"
XMLStringifier throw error saying invalid char if object value is emoji when build plist. Actually XMLStringifier has isSurgogent(I forget name) property, default value false, if set true the error is gone. Can you fix it?

[2015-01-09 13:18] swapnarachapalli commented on #12
Hi,

Are these methods like  insert() , delete() or update() already available ? If so can i get some example to use it ?

It will be great help for me.  Also i saw in this thread that the plist can be read as json and then do the modification to this json, can u share this example ? i am newbee to scripting .

Regards,
Swapna

[2015-01-09 13:28] swapnarachapalli opened #54 "Insert or update array values in plist"
Hi,
 i need to read the plist file and either insert or update the plist keys with newer values. The values could be array or simple String. How can i do that here ?

-Swapna

[2015-01-09 17:13] mreinstein commented on #54
You can parse the plist file, which will return a JSON object. At that point you could manipulate the json however you see fit, and then call build() to generate a plist file.

[2015-01-09 20:45] swapnarachapalli commented on #54
Hi,

 Thanks a lot for the answer. Can you please help me how to add a "array"
value to key using json ? i was able to add key:value pairs of simple type.

Swapna

On Fri, Jan 9, 2015 at 10:43 PM, Mike Reinstein <notifications@github.com>
wrote:

[2015-01-09 21:03] mreinstein commented on #54
@swapnarachapalli to be honest it's been a while since I've contributed to this library so my memory is a bit rusty. :)

Can you parse a plist that has an array, then inspect the parsed object in the browser console? that should give you a good sense of how to modify an array element.

[2015-01-21 03:37] nvcken opened #55 "Cannot read property 'nodeName' of null - info.plist ipa file"
I use this lib to read info.plist of ipa file.
I got this error
[code]

[2015-01-21 23:35] matiassingers commented on #2
Any news on merging the binary parser in?
Or are you keeping the packages separate?

[2015-01-22 00:13] mreinstein commented on #2
@matiassingers  not opposed to adding binary parser support. can you provide some tests/sample binary file for this?

[2015-01-22 00:16] mreinstein opened #56 "missing browserify build command"
@TooTallNate do you have the browserify command(s) that are run to generate the various files in `dist/` ?

[2015-01-22 00:17] matiassingers commented on #2
@mreinstein I was actually about to write a wrapper around `plist.js` and `bplist-parser`, but found [wollardj/node-simple-plist](https://github.com/wollardj/node-simple-plist) - which does pretty much exactly that.

Wraps both libraries and calls the appropriate one based on the type of `.plist` file.

[2015-01-22 00:17] TooTallNate commented on #56
Yup, just check the `Makefile` :wink:

[2015-01-22 00:19] mreinstein commented on #56
ah derp I didn't see the makefile. I'm so used to looking in `package.json` for the build commands.

[2015-01-22 00:19] #56 closed

[2015-02-23 18:41] SchulzKai commented on #55
I ran into the same error.
@nvcken - Did you figure out a way to fix it yet?

[2015-02-24 03:06] nvcken commented on #55
@SchulzKai
Hi , I have not find out yet, I have use other module simple-plist

[2015-04-04 17:29] przemyslawpluta commented on #55
Same issue here.

[2015-07-20 17:35] tsanidas commented on #2
Would the easiest path here be to convert the plist files with a callout to the "plutil" executable that should be available on any Mac that also has Xcode?

[2015-07-20 18:41] clee commented on #2
The problem with that is that these libraries work on other non-OS X systems like Linux that don't have plutil by default.

[2015-07-31 16:19] rubennorte opened #60 "Ignore test/ instead of tests/ in .npmignore"
The directory name is wrong and that's causing 13.7 MB to be installed with the package.

[2015-07-31 17:00] #60 closed

[2015-09-01 20:24] fizker commented on #55
I found a strong correlation. I get the exact same error for a binary plist, but the same plist as XML parses fine.

The short term solution would be to convert the binary plist to either XML or JSON by use of objc or swift.

As Swift:

[code]

[2015-12-06 14:15] xiangpingmeng opened #66 "Issues about empty <key /> tag"
Generally, a typical plist file may has dictionary:

[code]

It is contains some key and values. but I recently work with some real plist files and they has empty <key> tags, for example(such empty key from the Info.plist file .ipa package from AppStore):

[code]

as a result, this let plist.js parse failed. I check the source code in lib/parse.js in ths project:

[code]

It clear that `node.child

[2016-01-26 11:55] agoldis commented on #66
+1

[2016-03-13 09:13] agoldis opened #71 "Dictionary with empty key / string pair causes mess"
The document
[code]

Isn't parsed correctly because of empty `<key></key>` and `<string></string>` entries and causes the key -> value mapping to be wrong for the rest of the dictionary

[2016-03-16 20:17] MSLaguana commented on #66
We've just been bitten by this same issue: https://github.com/Microsoft/vscode-cordova/issues/58. Any idea when you'll be publishing the fix to npm?

[2016-04-11 20:45] kannus opened #72 "Pass options to the xmlbuilder module"
Error: Invalid character (�) in string: 💤 at index 0

While using the plist builder, if the XML string contains some sort of emoji UTF-8 character, the builder failed.  The xmlbuilder does support such characters but it requires an option (allowSurrogateChars) to be set to true.  It would be great if plist can allow this option to be passed through to the xmlbuilder.

[2016-04-11 20:48] mreinstein commented on #72
@kannus I'd definitely accept a PR for this. If you do, please be sure to include tests, and update the documentation on relevant parameters that can be passed.

[2016-04-11 21:17] kannus commented on #72
A zip file attached (the index.js needs plist, uuid and readlines from npm).  If I modify the build.js in plist to pass the opts to xmlbuilder.create(), then the plist can be successfully created.

[issue.zip](https://github.com/TooTallNate/plist.js/files/213892/issue.zip)

[2016-04-11 21:18] mreinstein commented on #72
@kannus don't pass around file archives or other binary blobs. Please send a proper pull request.

[2016-05-19 20:46] namerci opened #74 "Binary parsing lists"
Can you add binary parsing plist?

[2016-05-20 00:43] amaramth opened #75 "simple bug: Inconsistencies around null and undefined"
In code, `plist.build({foo:undefined}) === plist.build({})` and `plist.build({foo:null}) === plist.build(plist.parse(plist.build({foo:null})))` are not true and I think they should be.

exposition:

Javascript has `null` and `undefined` and [key missing]; JSON has `null` and [key missing]; plist has [key has no value] and [key missing]. I derive this from `plist.build({foo:null}) !== plist.build({

[2016-08-15 08:00] armorik83 opened #77 "Cannot use in webpack"
`plist@1.2.0`, `webpack@1.13.1`

[code]

`webpack` cannot be interpreted `require('fs')`. I think it should be running with webpack if you say clearly 'Mac OS X Plist parser/builder for Node.js and browsers'.
Could you support with webpack? thanks.

[2016-08-15 08:04] armorik83 commented on #77
https://github.com/TooTallNate/plist.js/blob/master/lib/plist.js#L18-L23

I thought that should be release the next major version removing this description. 😃

[2016-08-15 17:19] mreinstein commented on #77
@armorik83 I haven't used webpack, is it possible to shim fs requires in webpack? If so, it should be possible to use plist.js. Perhaps there is some kind of loader/transform for it?

[2016-08-16 18:01] #77 closed

[2016-08-16 18:01] TooTallNate commented on #77
Can you give v2.0.0 a try?

[2016-08-16 18:45] mreinstein commented on #77
@TooTallNate if we're going to cut a major release it would  be nice to also get a solution to this in there too: https://github.com/TooTallNate/plist.js/issues/75

[2016-08-17 00:42] mitchhentges opened #78 "Add changelog or details to "Releases""
As a consumer of `plist.js`, it would be more convenient to handle the `v1.0.1`->`v2.0.1` upgrade if there changelog notes. I can look through the commit list, but it has information about project continuous integration, etc, and is therefore more work to filter.

However, this project is pretty awesome, so thanks for continuing to work on it, you champ :+1:

[2016-08-17 00:56] TooTallNate commented on #78
Did you check out the [`History.md` file](https://github.com/TooTallNate/plist.js/blob/master/History.md)?

[2016-08-17 00:58] mitchhentges commented on #78
Apparently not, glossed over the file tree really quickly. Thanks, sorry about that!

[2016-08-17 00:58] #78 closed

[2016-08-17 12:16] armorik83 commented on #77
Very cool. Thank you👏

[2016-08-17 18:11] TooTallNate commented on #75
👍  PR welcome

[2016-08-17 18:13] mreinstein commented on #75
technically this would be an API change, so if you send a PR this would require bumping the major version on publish. Just putting this here as a reminder if/when that happens.

[2016-09-14 14:26] taknuti opened #79 "Parsing a null-string and re-building that file results in incorrect structure"
When parsing a file containing an empty string and re-building that JSON to a plist, the empty string will not be added, resulting in a key without a value (see example below). The fix might be simple on the 'parse' side, as there is an explicit null-check on parse.js@131: `if(isEmptyNode(node)) return null;`. This can be changed to `if(isEmptyNode(node)) return '';` as empty strings behave correc

[2016-09-16 07:09] rnarian commented on #79
👍

Just ran into the same problem:

[code]

... results in:

[code]

[2016-09-21 16:21] kim3er commented on #79
@akofman's changes sort the problem for me.

[2016-09-30 14:07] julien-c opened #82 "Typescript definition file"

[2016-10-09 01:22] otmezger commented on #79
Can confirm, @akofman's fix worked for me on OS Sierra with Xcode 8.0

[2016-10-09 01:24] otmezger commented on #71
possible duplicate with #79. The fix proposed there worked for me.

[2016-10-09 01:25] otmezger commented on #66
possible duplicated to #79. The fix proposed there fixed the problem for me.

[2016-10-09 10:35] agoldis commented on #71
@otmezger Please refer to #69

[2016-10-25 11:43] lordgreg commented on #75
This i causing exactly the issue a-lot of Cordova users currently have:

_Here is an example:_

Cordova adds two keys with nullified values to plist, which plist reads them out:
[code]

What plist (latest) is then doing is, it writes them back to plist (including all others possible options we write to config.xml). The objects above become:
[code]

Expected output:
[code]

One option currently is

[2016-11-16 01:58] njleonzhang commented on #79
Issue is still there in my environment:
[code]

to

[code]

xcode 8.1
plist 2.0.1

[2017-01-03 12:21] Archcry commented on #82
I've made one that you can add to your custom typings, I might put it up online:

`declare module "plist" {
    export function parse(string: string): Object;
    export function build(json: Array<any>): string;
}`

[2017-03-29 16:16] cmaart commented on #79
Still a problem

[2017-04-26 12:50] wollardj commented on #74
Since this is old, you've probably already found the solution, but if not...

Someone else already did.

- https://yarnpkg.com/en/package/bplist-creator
- https://yarnpkg.com/en/package/bplist-parser

and I wrapped those two packages, plus this one (plist.js) here: https://yarnpkg.com/en/package/simple-plist

[2017-11-27 19:39] coryalder opened #85 "Infinite loop in plist parsing in 2.1.0"
The attached plist can be parsed by plist 2.0.1, but seems to cause plist to go into infinite recursion when using version 2.1.0. I've pared the file down quite a bit to remove excess xml, but haven't managed pinpoint the exact cause of the problem in the plist.

This file was written out by Xcode during a test run. Code I'm using to parse with plist is:

[code]

Attached:
[TestSummaries.plist.txt

[2018-01-11 01:30] trufae opened #87 "Invalid plist are parsed without failing, which results on invalid build()"
Related to #86

[code]

this code runs fine but generates an invalid plist, it should throw or fill a default value, or drop the key

current output is:

[code]

NOTE: see the missing value for the bar key

[2018-01-11 01:31] trufae commented on #87
Fixed in https://github.com/TooTallNate/plist.js/pull/88

[2018-02-13 11:58] decates commented on #54
I know this is a while ago, but I needed this for setting arrays and dictionaries, and everything worked as expected:

### For a dictionary:
XML:
[code]
The key is modelled as an object, with each key/value pair from the dictionary as a property:
[code]

### For an array:
XML:
[code]
The key is modelled as a javascript array:
[code]

[2018-02-23 17:07] davisjam opened #89 "security: regex with potential catastrophic backtracking"
Commit 74d5395a5 introduced a vulnerable regexp, which on malicious input can take minutes or years to evaluate.

It currently appears in files: ["dist/plist.js","dist/plist-build.js"]

Both contain this code:
[code]

Here is an attack string (JSON-formatted):
[code]

A string composed of the indicated prefix, the "pump" concatenated 30 times, and then the suffix, takes about 10 seconds to evaluat

[2018-02-23 17:14] mreinstein commented on #89
I think the solution is probably to upgrade xmlbuilder to 9.x The issue here is that xmlbuilder dropped support for node < v6 and it would have a similar impact on plist.js. I suppose we _could_ follow suit and just push a plist v3 which does the same thing.

I lament having to deprecate all these modules just because deps are dropping support but such is the world we live in now I suppose. @TooTa

[2018-02-23 17:16] davisjam commented on #89
FWIW, Node v4 reaches end of life at the end of April.
[Node release schedule](https://github.com/nodejs/Release#release-schedule).

[2018-02-23 17:19] mreinstein commented on #89
I understand that node v4 is considered end of life by node's standards, but it's also not that old in the grand scheme of things. I mean the LTS is less than 2 years. That is comically short for something called "long term".   It's a tradeoff between moving fast and having stability. I appreciate the high velocity but on the other hand, this module despite it's problems works fine on most version

[2018-02-23 17:56] davisjam commented on #89
We are on the same page about Node's "LTS".

If you don't want to upgrade xmlbuilder, you can duplicate the fix here by adopting the new regex. Though depending on how you build plist, this may be asking for trouble later.

[2018-02-23 17:58] mreinstein commented on #89
I'm not totally opposed to simply moving past old node and staying on the upgrade hamster wheel, it just makes me a little sad to see older versions of software simply broken for the sake of being old. :-/

I'll wait and see what Nate thinks.

[2018-03-07 20:16] Pablodotnet commented on #89
Any updates on this? Updating xmlbuilder will solve a reported vulnerability here
https://hackerone.com/reports/310443
xmlbuilder stopped using lodash on version 5.0.0 so updating it will solve vulnerability on this library 👍

[2018-03-18 21:48] #89 closed

[2018-06-23 01:29] GoriGorgeSency opened #91 "One of the dependences (xmldom) licensed under GPLV3."

[2018-06-23 01:30] #91 closed

[2018-08-09 09:27] kamataryo opened #92 "[Feature request] Indent format and trailing line break option for build()"
xcode seems to build plist with tab indent, but plist.js rebuild it with  2 white spaces.
This causes unnecessary diff under version control.

How about to add options for `build()` like below?
[code]

[2018-08-21 13:04] Nemo108 commented on #92
@kamataryo build method actually receives options object as second argument. You can change **indention**, **newline** character, and add extra **offset** to every line (don't really know how it can be helpful).
[code]

[2018-08-25 23:42] kamataryo commented on #92
@Nemo108 `plist.build()` results with below configuration looks to match better for that of xcode (Version 9.4.1).
[code]

However, diff below still appears after `plist.build()`.
[code]

xcode expands '<string/>' and `plist.build()` doesn't expands `<string/>`. On the other hand, `<true/>`  is not expanded by xcode. I have no idea with consistency of xcode's building of XML.

It might be difficul

[2018-08-25 23:42] #92 closed

[2018-10-06 12:32] jonny-improbable commented on #91
Came here for this exact issue. To be clear [the licensing of xmldom is not clear](https://github.com/jindw/xmldom/issues/239) and confuses license-checker which we are using for automated license scanning on our project.

[2019-02-19 17:17] ChristianCiach commented on #55
This still happens with 3.0.0. Can I provide anything to help debugging this issue?

[2019-05-20 01:13] brettz9 commented on #74
Seems a dupe of #2?

[2019-05-20 01:20] brettz9 opened #95 "Incorporate old-style ASCII property list parser"
I have an old-style ASCII property list parser at https://github.com/brettz9/macOS-defaults/blob/openwith/PlistParser.js#LC1 which I think makes more sense to be integrated here. (Are you still maintaining?)

Although it is recommended to use XML for input, output (such as from `defaults read`) may be in this old format.

[2019-06-26 07:01] wsb9 commented on #95
That's I was looking for, thanks!

[2019-10-24 12:39] atamansv commented on #82
Thanks to @higuri you can just use `@types/plist` type definitions

[2019-11-04 19:18] dnicolson opened #96 "BigInt support"
The object type `BigInt` is not recognised and keys are created without values resulting in invalid property lists.

Nested BigInteger.js objects are treated as if they are key/value objects and as a result produce `dict` elements without values and "Value missing for key inside <dict>" `plutil` lint errors.

The following code:
[code]

Produces the following output:
[code]

[2020-02-13 00:28] dougmaloney opened #101 "Memory warnings from glitch.com"
Using plist to parse an itunes library (plist of about 15Mb).
Glitch container gives warnings as attached
![image](https://user-images.githubusercontent.com/1086183/74389921-dcb01200-4e53-11ea-9e42-7a53117884ac.png)

[2020-09-04 12:02] Kisty opened #103 "Compatible with Windows/Linux?"
Does it require access to the plutil on macOS or is it multiplatform. Would like to use a JSON converter which depends on this.

Thanks!

[2021-01-13 09:10] sheinwuwx opened #104 "data type ‘data‘ parsed error with encoded base64"
this code piece is no right :
if (node.nodeName === 'data') {
    res = '';
    if (isEmptyNode(node)) {
      return Buffer.from(res, 'base64');
    }
because  we nosure 'data' is encode with base64

[2021-03-15 09:40] joaomoreno opened #105 "CVE: Unlock dependency to xmldom"
`xmldom<0.5.0` has a current CVE security alert: https://github.com/advisories/GHSA-h6q6-9hqw-rwfv

plist.js has a pretty hard lock against a very old version of `xmldom` which prevents adopting the fix: https://github.com/TooTallNate/plist.js/blob/master/package.json#L30

I was about to submit a PR, but I saw the current PR backlog and got discouraged. Is this project abandoned?

[2021-03-15 10:26] joaomoreno commented on #105
Ended up submitting the PR: https://github.com/TooTallNate/plist.js/issues/105

[2021-03-16 00:38] mreinstein commented on #105
It's not abandoned per se, but it is really lacking any attention. Part of the problem is the tests have been failing for quite a while. Probably something having to do with sauce labs and/or zuul.

[2021-03-16 00:59] mreinstein commented on #105
@TooTallNate are you around to help with this? I think it's probably just a matter of updating some credentials and embedding new keys for sauce labs in this repo.

[2021-03-16 01:00] mreinstein commented on #105
![Uploading Screen Shot 2021-03-15 at 6.00.29 PM.png…]()

[2021-03-18 19:28] joaomoreno commented on #105
Sooooo.... would you be interested in getting GH Actions instead?

[2021-03-18 19:59] mreinstein commented on #105
Does github actions include free cross browser testing? Because that's the main issue on why the tests are failing.

I'm not opposed to switching to something better, but travis is not currently broken, and just switching to github actions without gaining cross browser testing capabilities doesn't solve the problem.

[2021-03-22 07:21] joaomoreno commented on #105
Yeah we use it in VS Code.

Anyway, I'm about to give up here, since we're not willing to wait. We will just stop using plist.js, simply because we can't afford to ship dependencies with security vulnerabilities.

[2021-03-22 14:42] mreinstein commented on #105
Well if you have more information you can point me at about how one might use this, I'm happy to take a look.

I've got some bad news for you; all software is shipping with security vulnerabilities whether they are listed in a database or not.

[2021-03-22 16:19] joaomoreno commented on #105
What do you mean?

[2021-03-22 16:27] mreinstein commented on #105
I mean, if you have information on where I can go to figure out how to setup github actions with cross browser testing capabilities, I am happy to read through some guide and try to get that setup. I don't have any experience with github actions yet. If you know how to set this up, help would be appreciated.

Again, I can't just merge PRs and do releases while tests are failing. No one is suggesti

[2021-03-22 16:33] joaomoreno commented on #105
Oh I see, got it. Unfortunately I don't have much time to guide you here. A quick google search got me:

- https://docs.github.com/en/actions/learn-github-actions
- https://github.com/microsoft/playwright-github-action

Thanks for the update.

[2021-03-25 01:36] mreinstein commented on #105
Saucelabs finally got back to me, and they've granted my account access to testing resources!

Unfortunately, simply plugging in my credentials doesn't seem to solve the problem. I'm still seeing errors when the tests attempt to run via sauce.

I'm not really sure how to fix this. The problem is there are a lot of moving pieces; travis ci, sauce labs, zuul, mocha, a super outdated makefile, etc.

[2021-03-25 07:29] Siedlerchr commented on #105
Maybe this helps https://blog.maximeheckel.com/posts/running-cross-browser-cypress-github-ci
https://github.com/cypress-io/github-action

[2021-03-26 04:43] mreinstein commented on #105
well, it's not ideal, I had to remove some tests, but I did manage to get the browser based tests somewhat working. This should be resolved in 3.0.2 via https://github.com/TooTallNate/plist.js/commit/e828f846ded15f3a074c76a39dc39c62cc598e39

[2021-03-26 04:43] #105 closed

[2021-03-26 08:08] joaomoreno commented on #105
@mreinstein This is fantastic, thanks for all the hard work, it's really appreciated!

[2021-04-04 07:45] RA80533 opened #108 "Use native Date.prototype.toISOString() if it's available"
https://github.com/TooTallNate/plist.js/blob/5877ec7b386f366d6ae876df7171a9f001646527/lib/build.js#L121

[code]

[2021-08-04 13:47] sofiyaca opened #110 "Upgrade xlmdom dependency to fix security advisory"
The dependency on xlmdom listed in package.json has a [vulnerability](https://www.npmjs.com/advisories/1769). Can the version restriction be upgraded to allow the fixed version 0.7.0?

[2021-08-04 20:27] vladimiry commented on #110
They did but only as github release (repo update), not on npm yet.

@sofiyaca, the `xmldom": "^0.6.0` version restriction looks fine as it will allow to pick up the 0.7.0 update when the time/npm-release comes.

[2021-08-04 20:38] mreinstein commented on #110
ahhhh, it appears a I updated the xmldom dep a few weeks ago, but never published it to npm. Will do that now.

[2021-08-04 20:39] mreinstein commented on #110
It's live as 3.0.3.

[2021-08-04 20:39] #110 closed

[2021-08-06 03:46] daveallie commented on #110
This should be reopened. plist 3.0.3 bumped xmldom to `^0.6.0` which is `>= 0.6.0, < 0.7.0`. The vulnerability was patched in version 0.7.0 of xmldom. Would you mind bumping the xmldom dependency to allow for 0.7.0 and releasing another patch of plist?

[2021-08-06 03:47] mreinstein commented on #110
As of right now, there is no such thing as xmldom@0.7.0. See here: https://www.npmjs.com/package/xmldom

The latest module published is 0.6.0.

When xmldom publishes this, we'll update.

[2021-08-06 17:31] vladimiry commented on #110
Right, I missed leading zero.

There is going to be xmldom 0.6.1 release https://github.com/xmldom/xmldom/discussions/270#discussioncomment-1140374 so new plist release won't be required.

[2021-08-06 17:36] mreinstein commented on #110
Just out of curiosity, does anyone know _why_ the xmldom people are not able to publish 0.7.0 to npm?

 They mention they're having trouble in the issue but not where this trouble is coming from.

Seems very...odd...

[2021-08-06 17:40] vladimiry commented on #110
Some info recently posted here https://github.com/xmldom/xmldom/issues/271#issuecomment-894383897

[2021-08-19 19:05] ryankashi commented on #110
Looks like they will be publishing a new version of xmldom called @xmldom. I believe it should be published later today with the fix

https://github.com/xmldom/xmldom/discussions/270

https://github.com/xmldom/xmldom/pull/278

[2021-08-19 20:01] harmonjt commented on #110
https://www.npmjs.com/package/@xmldom/xmldom

It is published.

[2021-08-19 20:16] filiptronicek opened #111 "Upgrade `xmldom` to a non-vulnerable version"
The maintainers of the `xmldom` package had some trouble publishing a security update under the original namespace, so the package now lives at [`@xmldom/xmldom`](https://www.npmjs.com/package/@xmldom/xmldom). More details are in https://github.com/xmldom/xmldom/issues/271. Without updating this, `xmldom` will still be vulnerable under [`CVE-2021-32796`](https://github.com/xmldom/xmldom/security/a

[2021-08-20 00:04] SudiptaAtWork commented on #111
Any update when plist can point to @xmldom/xmldom?

[2021-08-20 14:35] SudiptaAtWork commented on #111
Why title is saying update xmldom to 0.7.1, when it is 0.7.0. It is creating confusion as it seems it is updating to some beta version

[2021-08-27 22:23] mreinstein opened #113 "plist v4"
* refactor plist to use another library (htmlparser2?)
* resolve some other open issues (ideally lumping in other potentially breaking changes like parser fixes)
* remove support for node < 12.17
* pure esm module (drop legacy commonjs)
* replace the `Makefile` with simple npm run scripts
* major release (plist@4 )

[2022-01-06 05:41] keerok opened #114 "Prototype Pollution using .parse()"
Hi, There's a prototype pollution in .parse() related to the xml that are being parsed in it. In the following example the prototype pollution will affect the `length` parameter.

[code]

* More information about the vulnerability: https://github.com/HoLyVieR/prototype-pollution-nsec18/blob/master/paper/JavaScript_prototype_pollution_attack_in_NodeJS.pdf

[2022-03-14 04:17] mario-canva commented on #114
The Github [advisory](https://github.com/advisories/GHSA-4cpg-3vgw-4877) states this vulnerability has been fixed on `3.0.4` but I can still reproduce in `3.0.4` as well.

The version `3.0.4` has been released[ back in August 2021](https://github.com/TooTallNate/plist.js/blob/master/History.md) and the vulnerability was reported on January 2022. The `3.0.4` version only inlines an external depende

[2022-03-21 23:14] mario-canva commented on #114
Thanks for merging my PR @mreinstein . Would you please release a new version of `plist` with this fix? So people can patch against this prototype pollution vulnerability.

[2022-03-23 16:01] mreinstein commented on #114
published as 3.0.5 on npm. Thanks for the PR!

[2022-03-23 16:01] #114 closed

[2022-04-26 16:51] trufae commented on #113
Also add: typescript types definition

[2022-04-26 17:04] mreinstein opened #122 "replace multiline module with string template literals"
We can assume es6 or higher for the next version of plist.js. Let's get rid of `multiline` since it's long since been deprecated.

[2022-04-26 17:06] mreinstein commented on #108
I would accept a PR For this that just uses `Date.prototype.toISOString` everywhere. We're going to assume much more javascript runtime for plist.js v4

[2022-04-26 17:12] mreinstein commented on #103
@Kisty sorry for the long reply delay.  This module uses javascript only dependencies and doesn't "shell out" to any binaries, so this should be cross platform

[2022-04-26 17:12] #103 closed

[2022-04-26 17:30] mreinstein opened #126 "remove in-browser tests"
these aren't needed anymore, we don't have the infrastructure to do it (saucelabs is gone)

we're assuming a much more modern javascript runtime anyway

[2022-04-26 18:48] mreinstein opened #127 "convert to pure esm"
All maintained versions of node and all evergreen browsers support es modules.

Time to leave commonjs in the dust.

[2022-04-26 18:52] mreinstein commented on #79
Hey sorry for the super long reply delay.   Can we get a PR for this? I'm happy to review/merge. Would be nice to get this in for the upcoming v4 release.

[2022-04-26 18:55] mreinstein commented on #87
@trufae safe to close this one?

[2022-04-26 18:56] mreinstein commented on #82
I dont' really much care for typescript myself, but if you send a PR with the necessary typescript definition file I'll review and merge it.

[2022-04-26 19:34] trufae commented on #87
Yes

[2022-04-26 19:34] #87 closed

[2022-06-29 12:49] Donhv commented on #114
this issue still happen on version 3.0.5 with nexus scan.

[2022-07-12 17:32] thorsent commented on #114
@Donhv the problem appears to be that NIST has the vulnerability listed as addressed in 3.0.4:
https://nvd.nist.gov/vuln/detail/CVE-2022-22912

...but it was actually addressed in 3.0.5. Nexus has listed an "advisory deviation notice" because they tested 3.0.4 and found the vulnerability still extant. I've informed Nexus and hopefully they will update the status of 3.0.5. (Kudos that they go throu

[2022-07-12 19:09] thorsent opened #128 "CVE-2022-26260 fix not compiled into dist"
Sonatype (Nexus vulnerability scanner) has reported that dist/plist.js and dist/plist-parse.js do not have the prototype pollution fix.

I think the source code for plist.js was updated but the compiled dist never got pushed up to github or released to npm?

https://nvd.nist.gov/vuln/detail/CVE-2022-26260

[2022-07-12 19:09] thorsent commented on #114
Updated info. Looks like dist directory is missing the patch:
https://github.com/TooTallNate/plist.js/issues/128

[2022-07-12 20:54] mreinstein commented on #128
whoops, yeah my bad. I've just updated some deps and re-ran the build step. Should be fixed as 3.0.6 now.

[2022-07-12 21:18] thorsent commented on #128
Thank you!

[2022-07-12 21:18] #128 closed

[2022-08-07 14:39] arrosev opened #129 "I can't get it to work on the browser side"
My project environment: vite2 + vue3
Report an error: Buffer is not defined
I found that Buffer is used on lines 200 and 207 of this file: https://github.com/TooTallNate/plist.js/blob/master/lib/parse.js
Can Buffer be used on the browser side without compilation?

[2022-08-14 02:03] mreinstein commented on #129
what file are you including?  The browser compatible file is `dist/plist.js`.

Have you tried cloning this repo and running the example (`examples/browser/`) ? When you run it and open the dev console, you should see the plist object printed to the console without errors.

[2022-10-01 21:14] NIVEA77 opened #130 "> I had added scripts generated by `volta completions powershell` to `Microsoft.PowerShell_profile.ps1` but that not working."
__Originally posted by @NIVEA77 in https://github.com/volta-cli/volta/issues/1312#issuecomment-1264482926__

[2022-10-01 21:44] mreinstein commented on #130
I don't think you're posting this to the right repo; I have no clue what is being asked here, or what this has to do with plist.js

[2022-10-01 21:44] #130 closed